<ion-toolbar class="lobotomy-toolbar">
  <ion-title class="lobotomy-title">UwU</ion-title>
  
  <ion-buttons slot="end" class="lobotomy-buttons">
    <ion-button routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <span class="label">Inicio</span>
    </ion-button>
    <ion-button routerLink="/login">
      <ion-icon name="log-in-outline"></ion-icon>
      <span class="label">Iniciar</span>
    </ion-button>
       <ion-button routerLink="/wikis">
      <ion-icon name="log-in-outline"></ion-icon>
      <span class="label">Wikis</span>
    </ion-button>
       <ion-button routerLink="/favorites">
      <ion-icon name="log-in-outline"></ion-icon>
      <span class="label">Favoritos</span>
    </ion-button>
       <ion-button routerLink="/profile">
      <ion-icon name="log-in-outline"></ion-icon>
      <span class="label">Yo</span>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
