<ion-header>
<ion-toolbar class="lobotomy-toolbar">
  <ion-title class="lobotomy-title">UwU</ion-title>
  
  <ion-buttons slot="end" class="lobotomy-buttons">
    <ion-button routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <span class="label">Inicio</span>
    </ion-button>
    <ion-button routerLink="/login">
      <ion-icon name="log-in-outline"></ion-icon>
      <span class="label">Iniciar</span>
    </ion-button>
    <!-- demás botones -->
  </ion-buttons>
</ion-toolbar>

</ion-header>
