
<ion-content fullscreen class="login-background" scroll-y="false">
  <div class="login-wrapper">
    <ion-card class="lobotomy-card">
      <ion-card-header>
        <ion-card-title class="lobotomy-title ion-text-center">CODIGO DE SEGURIDAD</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="lobotomy-item">
          <ion-input type="text" class="lobotomy-input"></ion-input>
        </ion-item>



        <ion-button routerLink="/" expand="block" class="lobotomy-button ion-margin-top">Ingresar</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>