.lobotomy-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  color: #d43c3c;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

ion-card {
  background-color: rgba(28,28,28,0.95);
  border: 2px solid #d43c3c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(212,60,60,0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

ion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(212,60,60,0.7);
}

ion-searchbar {
  --background: #1c1c1c;
  --color: #f0f0f0;
  --placeholder-color: #d43c3c;
  margin-bottom: 20px;
}

.lobotomy-background {
  --background: #1c1c1c; /* Fondo oscuro */

}