<ion-content fullscreen class="login-background" scroll-y="false">
  <div class="login-wrapper">
    <ion-card class="lobotomy-card">
      <ion-card-header>
        <ion-card-title class="lobotomy-title ion-text-center">Registrarme</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="lobotomy-item">
          <ion-label position="floating" class="lobotomy-label">Nombre(s)</ion-label>
          <ion-input type="text" class="lobotomy-input"></ion-input>
        </ion-item>

        <ion-item class="lobotomy-item">
          <ion-label position="floating" class="lobotomy-label">Apellido(s)</ion-label>
          <ion-input type="text" class="lobotomy-input"></ion-input>
        </ion-item>

         <ion-item class="lobotomy-item">
          <ion-label position="floating" class="lobotomy-label">Telefono</ion-label>
          <ion-input type="number" class="lobotomy-input"></ion-input>
        </ion-item>

         <ion-item class="lobotomy-item">
          <ion-label position="floating" class="lobotomy-label">Correo Electronico</ion-label>
          <ion-input type="email" class="lobotomy-input"></ion-input>
        </ion-item>

         <ion-item class="lobotomy-item">
          <ion-label position="floating" class="lobotomy-label">Contraseña</ion-label>
          <ion-input type="password" class="lobotomy-input"></ion-input>
        </ion-item>

        <ion-button routerLink="/login" expand="block" class="lobotomy-button ion-margin-top">Registrarme</ion-button>

       
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>