<app-topvar></app-topvar>

<ion-content fullscreen class="lobotomy-background">

  <ion-card>
    <div class="lobotomy-detail-container">

      <!-- Columna izquierda: imagen -->
      <div class="lobotomy-image">
        <img src="assets/Img/Hero1.webp" alt="Imagen del juego" />
      </div>

      <!-- Columna derecha: información -->
      <div class="lobotomy-info">
        <ion-card-header>
          <ion-card-title class="lobotomy-title">Limbus Company</ion-card-title>
          <ion-card-subtitle class="lobotomy-text">
            Desarrollador: <span class="lobotomy-text-highlight">Project Moon</span>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p class="lobotomy-text">
            As the Executive Manager of Limbus Company, lead your group of twelve Sinners, venture into the buried
            facilities of Lobotomy Corporation, and lay claim on the Golden Boughs.
          </p>

          <p class="lobotomy-text">
            <span class="lobotomy-text-highlight">Lanzamiento:</span> 26/02/2023
          </p>
          <p class="lobotomy-text">
            <span class="lobotomy-text-highlight">Última actualización:</span> 17/08/2025
          </p>
          <p class="lobotomy-text">
            <span class="lobotomy-text-highlight">Categoría:</span> Estrategia, Gestión
          </p>
          <p class="lobotomy-text">
            <span class="lobotomy-text-highlight">Plataformas:</span> PC
          </p>
        </ion-card-content>
      </div>

    </div>
  </ion-card>

</ion-content>